{% extends "interface/header.html" %}
{% load staticfiles %}
{% block content %}
    <body class="colored-body">

    <div class="container-fluid text-center">
        <div class="jumbotron jumbotron-fluid">
            <p class="h1">PassAuth</p>
            <p class="small text-light custom-header-font">Making authentication more usable</p>
        </div>
    </div>

    <div class="row">
        <div class="col border-right pt-3 d-flex flex-column col-3 col-xl-4">
            <div class="pl-4">Hello, USERNAME!</div>
            <div class="pl-4">Session Count: NUMBER</div>
            <div class="pl-4">Successful Participation Key: FILLER</div>
        </div>
        <div class="col col-8 col-lg-7 col-xl-6 pt-3">
            <p class="font-weight-bold">Please select two pictures of your choice and click 'Submit'</p>
            <div class="row pt-5">

                {% for image in images %}
                <div class="col col-4">
                    <img src="{% static image %}" class="img-thumbnail py-2 px-2 my-2">
                </div>
                {% endfor %}

            </div>
            
            <div class="row">
                <div class="col col-8"></div>
                <div class="col col-4">
                    <button type="submit" class="btn btn-primary btn-block box-shadow--8dp mt-5 text-white" id="btnFetch">Submit</button>
                    
                </div>
            </div>
            
        </div>
    </div>


    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{% static 'interface/choices.js' %}"></script>
    </body>

{% endblock %}
