{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'interface/main.css' %}">

    <title>PassAuth</title>
  </head>
  <body class="colored-body">

    <div class="container-fluid text-center">
        <div class="jumbotron jumbotron-fluid">
            <p class="h1">PassAuth</p>
            <p class="small text-light custom-header-font">Making authentication more usable</p>
        </div>
    </div>
    
    <div class="row top-bottom-buffer">
        <div class="col"></div>
        
        <div class="col-5 card form-card">
            <p class="font-weight-bold"> Consent Notice: </p>
            <p class="sleek-spacing">By participating in this study, you confirm:</p>
            <p class="sleek-spacing font-weight-bold">1. That you are 18 years or older.</p>
            <p class="sleek-spacing font-weight-bold">2. That you have read the instructions on the home page in their entirety.</p>
            <a class="btn btn-primary btn-block box-shadow--8dp mt-5 text-white" href="login.html">I CONFIRM AND AGREE</a>
            <a class="btn btn-danger btn-block box-shadow--8dp mt-4 text-white" href="sorry.html">I DO NOT CONFIRM</a>

        </div>
        
        <div class="col"></div>
       
    </div>
      

    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>