{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" href="{% static 'interface/main.css' %}">

    <title>PassAuth</title>
  </head>
  <body>

    <div class="container-fluid text-center">
        <div class="jumbotron jumbotron-fluid">
            <p class="h1">PassAuth</p>
            <p class="small text-light custom-header-font">Making authentication more usable</p>
        </div>
    </div>
      
    <div class="container-fluid pl-5">
         
        <p>Welcome to our homepage! Here are instructions and policies that you <span class="font-weight-bold">MUST</span> familiarize yourself before participating in the study.</p>

        <p class="font-weight-bold">A. INSTRUCTIONS:</p>

        <p>1. Once you click on Log In (link button displayed at the bottom of the page), the study will ask you to choose a username and a password. There is no sign up, however, it is your responsibility as a participant to make sure that you pick a username and password and stick to it. Your sessions are tied to your username and you can not reset your password at anytime. In case you lose any of this information, please start again.</p>

        <p>2. During the study, we will collect the information related to your keyboard and mouse behavior ONLY. We will not store your username, password or your choice in the application. Additionally, as a participant, throughout and after the study, your identity will be completely anonymous.</p>

        <p>3. To participate in the study, you must be <span class="font-weight-bold">18 years or older</span>.</p>

        <p>4. <span class="font-weight-bold">A successful study requires the participant to successfully log in at least 20 times using the same credentials.</span> As a participant, you may choose to participate more than 20 times however.</p>

        <p>5. <span class="font-weight-bold">Participants should not use features like autofill passwords, password managers, etc. to store the username and/or password for this website</span>. Doing so may disqualify such login attempts. We have done our best to disable automatic browser behaviors, but as a participant, it is ultimately your responsibility.</p>

        <p>6. The participation in this study is completely voluntary, and additionally, as a participant, you may choose to withdraw from the study by not participating in the experiment any more than 20 times, in which case your data is automatically deleted.</p>

        <p class="font-weight-bold">B. REIMBURSEMENT:</p>

        <p>1. All participants who complete at least 20 successful login attempts will be able to find a field called <span class="font-weight-bold">Successful Participation Key</span> after they login. You may copy or take a picture of the key and may collect <span class="font-weight-bold">AED 40</span> as a participation subsistence allowance by signing up <a href="#">this doodle calendar</a>.</p>

        <p>2. There are no partial reimbursements for incomplete participations.</p>

        <p class="font-weight-bold">C. HELP/CONTACTS:</p>

        <p>At any point during the study, you may reach out to us at <span class="font-weight-bold">david.ahmad@nyu.edu</span> or <span class="font-weight-bold">christina.poepper@nyu.edu</span> for any information, support, or clarifications regarding this study.</p>
        
    </div>
    
    <div class="container-fluid pr-5">
        <a class="btn btn-primary float-right bg-custom" href="consent">Continue</a>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>