{% extends "interface/header.html" %}
{% load staticfiles %}
{% block content %}
  <body class="colored-body">

    <div class="container-fluid text-center">
        <div class="jumbotron jumbotron-fluid">
            <p class="h1">PassAuth</p>
            <p class="small text-light custom-header-font">Making authentication more usable</p>
        </div>
    </div>
    
    <div class="row top-bottom-buffer">
        <div class="col"></div>
        
        <div class="col-5 col-lg-3 card form-card" >
            <form autocomplete="off" id="login-form" method="POST" action="" >
                {% csrf_token %}
              <div class="form-group">
                <label for="inputUsername">Username</label>
                <input required type="text" name="un" class="form-control" id="inputUsername" autocomplete="off" placeholder="Enter username" >
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input required name="pass" type="text" class="form-control hidden-field" id="inputPassword" autocomplete="off" placeholder="Password" >
              </div>
              <div>
                {% if not_clicked %}
                <p class="text-danger"> Oops! Seems like your browser is saving/ autofilling the username and password or has a touch-screen functionality. PLEASE disable that functionality and MANUALLY TYPE your username and password.</p>
                {% elif login_error %}
                <p class="text-danger"> Oops! Your credentials don't match. Please re-check the credentials you were given.</p>
                {% elif incorrect_id %}
                <p class="text-danger"> Oops! The ID you entered is not valid.</p>
                {% else %}
                <p> &nbsp; </p>
                {% endif %}
              </div>
              <p>HINT- Username: <span class="font-weight-bold font-italic">mfa-star</span> and Password: <span class="font-weight-bold font-italic">.tie5Roanl</span> </p>
              <p> Please do not save your username and password if prompted by your browser.</p>
              <input type="submit" id="submitButton" class="btn btn-danger btn-block box-shadow--8dp my-4"  value="Login" >

                
            </form>
            
        </div>
        
        <div class="col"></div>
       
    </div>
    <div class="container d-flex flex-column justify-content-center bg-info text-white">
      <p> Please make sure to not copy and paste the username and password. Instead manually type them and then click 'Login'.</p>

    </div>
      
    <div class="container d-none">
        <p class="font-weight-bold">Instructions:</p>
        <p>1. Pick a username and password of your choice (there is no sign up process). Once you have picked up a username and password, continue using the same credentials to log in for all future instances.</p>

        <p>2. Username and password fields have to be typed in everytime you log in. Only typed usernames and passwords will be accepted as valid. Saving passwords and using password managers will automatically be rejected- please refrain from using them on this website.</p>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'interface/login.js' %}"></script>

    </body>
{% endblock %}
