{% extends "interface/header.html" %}
{% block content %}
  <body class="colored-body">

    <div class="container-fluid text-center">
        <div class="jumbotron jumbotron-fluid">
            <p class="h1">PassAuth</p>
            <p class="small text-light custom-header-font">Making authentication more usable</p>
        </div>
    </div>
    
    <div class="container top-bottom-buffer mt-0">
        
        <div class="card px-5 py-5">
           <p class="font-weight-bold">
            Thank you for your interest in participating in this study.
               Currently, we already have had enough participants in the study and no new signups are allowed. We have stopped collecting more data, but whenever we re-start the study again for another round, we would post in all the locations where we posted last time.
               Cheers and a great day :)
           </p>

            <p class="lead">Should you have any questions/concerns/queries, please reach out to us at david.ahmad@nyu.edu</p>

            </div>
           

        </div>
        
       
    </div>
      

    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
{% endblock %}
