{% extends "interface/header.html" %}
{% load staticfiles %}
{% block content %}
  <body class="colored-body">

    <div class="container-fluid text-center">
        <div class="jumbotron jumbotron-fluid">
            <a href="/"><p class="h1">PassAuth</p></a>
            <p class="small text-light custom-header-font">Making authentication more usable</p>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">

        <div class="col-5 col-lg-3 card form-card" >
            {% if signup_valid %}
            <p class="lead">Awesome! You're signed up. You may continue participating in the study. <a href="login">Log In</a> now. </p>
            {% else %}
            <form autocomplete="off" id="login-form" method="POST" action="" onsubmit="printLogs();" >
                {% csrf_token %}
              <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" name="un" class="form-control" id="inputUsername" autocomplete="off" placeholder="Enter username" >
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input name="pass" type="text" class="form-control hidden-field" id="inputPassword" autocomplete="off" placeholder="Enter password" >
              </div>

              <div class="form-group">
                <label for="passwordConfirmation">Confirm Password</label>
                <input name="passConfirm" type="text" class="form-control hidden-field" id="passwordConfirmation" autocomplete="off" placeholder="Confirm Password" >
              </div>
              <div>
                {% if signup_error %}
                <p class="text-danger"> {{ signup_error }} </p>
                {% else %}
                <p> &nbsp; </p>
                {% endif %}
              </div>

              <input type="submit" id="submitButton" class="btn btn-danger btn-block box-shadow--8dp"  value="Submit" >
                
            </form>
            {% endif %}
        </div>
        {% if signup_valid %}
        {% else %}
        <div class="col-4 col-lg-2 card">
        <p class="font-weight-bold">Instructions:</p>
        <p>1. Pick a username that is <span class="font-weight-bold">at least 5 characters long </span> and a password that is <span class="font-weight-bold">at least 8 characters long and includes both numbers and letters.</span> </p>

        <p>2. And please don't use <a href="https://github.com/danielmiessler/SecLists/tree/master/Usernames">common usernames;</a> yes, that's it and then you are all set!</p>
        </div>
        {% endif %}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'interface/login.js' %}"></script>

    </body>
{% endblock %}
